.apivenv/
/.apivenv
apivenv/
/apivenv
.env
/.env
apibackend/.env
apibackend\\.env
/apibackend/.env
\\apibackend\\.env
apibackend/__pycache__
apibackend\\__pycache__
/apibackend/__pycache__
\\apibackend\\__pycache__
__pycache__/
**/__pycache__/
apibackend/uploads
apibackend\\uploads
/apibackend/uploads
\\apibackend\\uploads
apibackend/static
apibackend\\static
/apibackend/static
\\apibackend\\static
apibackend/EmailSender
apibackend\\EmailSender
