.apivenv/
/.apivenv
apivenv/
/apivenv
.env
/.env
venv/
/venv
apibackend/.env
apibackend\\.env
/apibackend/.env
\\apibackend\\.env
apibackend/_pycache_
apibackend\\_pycache_
/apibackend/_pycache_
\\apibackend\\_pycache_
_pycache_/
**/_pycache_/
__pycache__/
apibackend/uploads
apibackend\\uploads
/apibackend/uploads
\\apibackend\\uploads
apibackend/static
apibackend\\static
/apibackend/static
\\apibackend\\static
apibackend/EmailSender
apibackend\\EmailSender